.page-header ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top: 25px; /*делаем отступ сверху*/
    background: rgb(80, 154, 159); /*добавляем фон всему меню*/
    /*background:rgb(188,146,136);*/
    /*background:rgb(208,178,157);*/
    height: 50px; /*задаем высоту*/
}

.page-header a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background: rgb(80, 154, 159); /*добавляем фон к пункту меню*/
    color: #fff; /*меняем цвет ссылок*/
    padding: 0px 15px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    line-height: 50px; /*ровняем меню по вертикали*/
    display: block;
    border-right: 1px solid rgb(250, 247, 235); /*добавляем бордюр справа*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

.page-header a:hover {
    background: rgb(250, 247, 235); /*добавляем эффект при наведении*/
    /*background:#D43737;*/
}

.page-header li {
    float: left; /*Размещаем список горизонтально для реализации меню*/
    position: relative; /*задаем позицию для позиционирования*/
}

/*Стили для скрытого выпадающего меню*/
.page-header li > ul {
    position: absolute;
    top: 25px;
    display: none;
}

/*Делаем скрытую часть видимой*/
.page-header li:hover > ul {
    display: block;
    width: 250px; /*Задаем ширину выпадающего меню*/
}

.page-header li:hover > ul > li {
    float: none; /*Убираем горизонтальное позиционирование*/
}

html,
body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #2c3e50;
}

/* Header */
header.page-header {
    position: relative;
    z-index: 5;
    min-height: 20px;
    padding: 20px;
    /*color: white;*/
    /*background-image: linear-gradient(45deg, #34495e 25%, transparent 25%),*/
    /*linear-gradient(45deg, #34495e 25%, transparent 25%),*/
    /*linear-gradient(135deg, #34495e 25%, transparent 25%),*/
    /*linear-gradient(135deg, #34495e 25%, transparent 25%);*/
    /*background-position: 10px 0, 10px 0, 0 0, 0 0;*/
    background-color: #2c3e50;
    background-size: 20px 20px;
    box-shadow: 0 0 5px 0 #333333;
}

/* Main */
main {
    display: block; /* для страховки, очень новый элемент */
    min-height: 200px;
    padding-top: 50px;
    color: black;
    background-color: white;
}

/* Footer */
footer.page-footer {
    min-height: 50px;
    padding: 20px;
    font-size: 14px;
    color: black;
    background-color: #2c3e50;
    /*background-image:*/
    /*linear-gradient(45deg, transparent 50%, white 50%),*/
    /*linear-gradient(45deg, transparent 50%, white 50%),*/
    /*linear-gradient(135deg, transparent 50%, #2c3e50 50%),*/
    /*linear-gradient(135deg, transparent 50%, #2c3e50 50%);*/
    background-repeat: repeat-x;
    background-position: 0 0, 0 0, 0 100%, 0 100%;
    background-size: 10px 12px;
}

.page-footer a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background: rgb(80, 154, 159); /*добавляем фон к пункту меню*/
    color: #fff; /*меняем цвет ссылок*/
    padding: 0px 15px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    line-height: 50px; /*ровняем меню по вертикали*/
    display: block;
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

.page-footer a:hover {
    background: rgb(214, 215, 195); /*добавляем эффект при наведении*/
}

hr {
    border: none; /* Убираем границу */
    background-color: rgb(236,244,242); /* Цвет линии */
    height: 2px; /* Толщина линии */
}

.container {
    width: 100%;
    max-width: 1024px; /*максимальная ширина может иметь другое значение*/
    padding: 0 15px;
    margin: 0 auto;
}

#banner {
    width: 180px;
}

.headphones{
    font-size:20px;
    width: 1.625em;
    border: 0.2em solid #333;
    height: 1.438em;
    border-radius: 3em 3em 0 0;
    border-bottom: none;
    margin-left:-0.2em;
    position: relative;
}

.headphones:before{
    position: absolute;
    content: '';
    top: 1.1em;
    left: 0.05em;
    width: 0.313em;
    height: 0.625em;
    background: #2c2c2c;
    border-radius: 0 0.125em 0.125em 0;
}
.headphones:after{
    position: absolute;
    content: '';
    top: 1.1em;
    left: 1.26em;
    width: 0.313em;
    height: 0.625em;
    background: #2c2c2c;
    border-radius: 0.125em 0 0 0.125em;
}

#logo {
    float: left;
    margin-top: 2px;
    margin-right: 10px;
}



@import 'https://fonts.googleapis.com/css?family=Merriweather';
.d8 body {margin: 0;}
.d8 div {
    padding: 20px 0;
    border-bottom: 2px solid rgba(0,0,0,.05);
    text-align: center;
}
.d8 h3 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    letter-spacing: 1px;
    max-width: 320px;
    width: 100%;
    position: relative;
    display: inline-block;
    color: #465457;
    /*color: #F16246;*/
    padding-bottom: 10px;
}


.d8 h3:before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #EE6247;
    z-index: 2;
}
.d8 h3:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -25%;
    width: 50%;
    height: 2px;
    background: #ECF4F2;
}




a:hover {
    font-size: 16px;
    color: steelblue;
    font-weight: bold
}

ul.bullets {
    list-style-image: url(images/leaf.jpg);
}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
}
th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}

td {
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
}
tr:hover td{
    color: #6699ff;
}